<div class="container" [class.active]="isDropdownVisibleShop">

<div class="header-container row mt-5">
    <div class="col-lg-6">

    <h1 class="main-title">
      Cửa Hàng.
      <span class="sub-title-text ">Cách tốt nhất để mua sản phẩm bạn thích.</span>
    </h1>
    </div>

    <div class="help-container col-lg-4 mt-3">
      <img src="assets/img/avt2.png" alt="User Profile" class="profile-image">
      <div class="help-info">
        <p class="help-text">Bạn cần trợ giúp mua sắm?</p>
        <a href="https://www.facebook.com/messages/t/100071906850555" class="help-link">Hỏi Bảo Đậu</a>
      </div>
    </div>
  </div>

  <div class="products-container mt-5">
    <div class="rf-productnav-card-content">
        <img src="assets/img/mac.png" alt="Mac">
        <p>Mac</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/iphone.png" alt="iPhone">
        <p>iPhone</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/ipad.png" alt="iPad">
        <p>iPad</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/watch.png" alt="Apple Watch">
        <p>Apple Watch</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/airPods.png" alt="AirPods">
        <p>AirPods</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/tag.png" alt="Airtag">
        <p>Airtag</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/appleTV.png" alt="Apple TV 4k">
        <p>Apple TV 4k</p>
    </div>
    <div class="rf-productnav-card-content">
        <img src="assets/img/pk.png" alt="Phụ kiện Apple">
        <p>AirPods</p>
    </div>
</div>
</div>

