<div class="hero-section">
    <div class="content">
        <h1 class="text-white">iPhone 15 Pro</h1>
        <div class="video-container">
            <video id="myVideo" class="responsive-video" autoplay muted loop>
                <source src="assets/video/video-iphone15.mp4" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ thẻ video.
            </video>
        </div>
        <button class="btn-mua">Mua</button>
        <p class="price text-white">Từ 28.999.000đ hoặc 1.181.000đ/tháng trong 24 tháng*</p>
    </div>
</div>
