<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Mua iPhone 15</h1>
        <p>Từ 22.999.000đ hoặc 936.000đ/thángmỗi tháng trong 24 tháng*</p>
        <p>
          Trả góp theo tháng với phí dịch vụ thực 1.67%, sau khi thanh toán lần
          đầu 20%.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Nhận 800.000đ- 22.000.000đ khi đổi.</p>
        <p>Có tài trợ.</p>
      </div>
    </div>
  </div>
  <div class="container">
<div class="row">
    <div class="col-lg-8 bgr-img rounded-6 text-center">
        <img src="assets/img-buy-product/image.png" alt="img ảnh máy" class="product-image">
    </div>
    <div class="col-lg-4">
        Phiên bản. Mẫu nào phù hợp nhất với bạn?
    </div>

</div>
  </div>
</div>
