<div class="mt-5 container-fluid">
    <div class="container">
        <h1 class="main-title">
            Cửa Hàng.
            <span class="sub-title-text">Cách tốt nhất để mua sản phẩm bạn thích.</span>
        </h1>
    </div>

    <div class="product-wrapper">
        <div class="product-container mt-3" #productContainer>
            <div class="product-black-card iphone">
                <div class="text-container">
                    <h4>IPHONE 15 PRO</h4>
                    <h2>Titan</h2>
                    <p>Từ 28.999.000đ hoặc 1.181.000đ/tháng trong 24 tháng*</p>
                </div>
            </div>
            <div class="product-black-card ipadpro">
                <div class="text-container">
                    <h4>IPAD PRO</h4>
                    <h2>Mỏng xuất chúng.</h2>
                    <p>Từ 28.999.000đ hoặc 1.181.000đ/tháng trong 24 tháng*</p>
                </div>
            </div>
            <div class="product-card macbook">
                <div class="text-container">
                    <h4>MACBOOK AIR</h4>
                    <h2>Được thiết kế để đi muôn nơi.</h2>
                    <p>Từ 24.999.000đ hoặc 1.018.000đ/tháng trong 24 tháng*</p>
                </div>
            </div>
            <div class="product-card ipad">
                <div class="text-container">
                    <h4>IPAD AIR</h4>
                    <h2>Mới Mẻ.</h2>
                    <p>Từ 24.999.000đ hoặc 1.018.000đ/tháng trong 24 tháng*</p>
                </div>
            </div>
            <div class="product-card iphone15">
                <div class="text-container">
                    <h4>IPHONE 15</h4>
                    <h2>Mới lịm tim</h2>
                    <p>Từ 22.999.000đ hoặc 936.000đ/thángmỗi tháng trong 24 tháng*</p>
                </div>
            </div>
            <!-- Thêm nhiều sản phẩm ở đây -->
        </div>
        <button class="scroll-btn left-btn" (click)="scrollLeft()">&#10094;</button>
        <button class="scroll-btn right-btn" (click)="scrollRight()">&#10095;</button>
    </div>
</div>
