<div class="cart-page">
  <div class="cart-items-container" *ngIf="items.length; else emptyCart">
    <div class="cart-item" *ngFor="let item of items; let i = index">
      <input type="checkbox" class="checkbox" [checked]="item.selected" (change)="toggleSelected(i)" />
      <div class="product-image">
        <img [src]="item.image" [alt]="item.name" />
      </div>
      <div class="item-details">
        <div class="item-name">{{ item.name }}</div>
        <div class="color-circle" [style.background-color]="item.colorCode"></div>
        <div class="quantity-selector">
          <button class="quantity-btn" (click)="updateQuantity(i, -1)">-</button>
          <div class="quantity">{{ item.quantity }}</div>
          <button class="quantity-btn" (click)="updateQuantity(i, 1)">+</button>
        </div>
      </div>
      <div class="item-price">{{ item.price * item.quantity | number }}đ</div>
      <button class="delete-btn" (click)="removeItem(i)">✖</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p class="empty-cart">Giỏ hàng của bạn đang trống.</p>
  </ng-template>

  <div class="total-price" *ngIf="items.length">
    <button class="checkout-btn" [disabled]="!hasSelectedItems" (click)="checkout()">
      {{ total | number }}đ
      <span class="arrow">➔</span>
    </button>
  </div>
</div>
