<div class="cart-page">
    <div class="cart-items-container">
      <div class="cart-item" >
        <input type="checkbox" class="checkbox" />
        <div class="product-image"></div>
        <div class="item-details">
          <div class="item-name">Item name</div>
          <div class="color-circle"></div>
          <div class="quantity-selector">
            <button class="quantity-btn">+</button>
            <div class="quantity">3</div>
            <button class="quantity-btn">-</button>
          </div>
        </div>
        <div class="item-price">10$</div>
        <button class="delete-btn">✖</button>
      </div>
    </div>
    <div class="total-price">
      <button class="checkout-btn">
        100000$
        <span class="arrow">➔</span>
      </button>
    </div>
  </div>
  