<!--<nav class="navbar">
  <div class="navbar-top">
    <div class="navbar-left">
      <button class="toggle-button" (click)="toggleNavbar()">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="navbar-menu">
        <li [class.active]="activeNavItem === 'home'">
          <a (click)="navigateToPage('home')">Home Page</a>
        </li>
        <li [class.active]="activeNavItem === 'product'">
          <a (click)="navigateToPage('product')">Product Page</a>
        </li>
        <li [class.active]="activeNavItem === 'cart'">
          <a (click)="navigateToPage('cart')">Cart Page</a>
        </li>
      </ul>
    </div>
    <div class="navbar-right">
      <input *ngIf="isSearchActive" type="text" class="search-input active" placeholder="Search..." [class.active]="isSearchActive">
      <button (click)="toggleSearch()" class="icon-button search-button">
        <img *ngIf="!isSearchActive" src="assets/icons/Search.png" alt="search" class="icon icon_search">
        <i *ngIf="isSearchActive" class="fa fa-times"></i>
      </button>
      <img src="assets/icons/shop_cart.png" alt="cart" class="icon icon_cart">
      <button class="signIn_btn">Sign In</button>
    </div>
  </div>
  <div class="navbar-divider"></div>
  <div class="navbar-bottom">
    <div class="navbar-logo-container">
      <!-- <img src="assets/icons/logo.png" alt="Tech Shop Logo" class="navbar-logo"> 
      <span class="tech-shop-title">TECH SHOP</span>
    </div>
    <div class="categories-container">
      <ul class="categories">
        <li *ngFor="let category of categories" [class.active]="activeCategory === category.title">
          <a (click)="selectCategory(category.title)">{{ category.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="toggle-menu" [class.active]="isNavbarVisible">
    <button class="close-button" (click)="toggleNavbar()">X</button>
    <div class="toggle-menu-section">
      <h3 class="toggle-menu-title">Pages</h3>
      <ul class="toggle-menu-nav">
        <li [class.active]="activeNavItem === 'home'">
          <a (click)="navigateToPage('home')">Home Page</a>
        </li>
        <li [class.active]="activeNavItem === 'product'">
          <a (click)="navigateToPage('product')">Product Page</a>
        </li>
        <li [class.active]="activeNavItem === 'cart'">
          <a (click)="navigateToPage('cart')">Cart Page</a>
        </li>
      </ul>
    </div>
    <div class="toggle-menu-section">
      <h3 class="toggle-menu-title">Categories</h3>
      <ul class="toggle-menu-categories">
        <li *ngFor="let category of categories" [class.active]="activeCategory === category.title">
          <a (click)="selectCategory(category.title)">{{ category.title }}</a>
        </li>
      </ul>
    </div>
    <div class="toggle-menu-bottom">
      <img src="assets/icons/shop_cart.png" alt="cart" class="icon icon_cart">
      <button class="signIn_btn">Sign In</button>
    </div>
  </div>
</nav>
-->