.container{
    width: 80%;
}

.blog__details__comment h4 {
	color: #333333;
	font-weight: 700;
	margin-bottom: 35px;
	text-align: center;
}

.blog__details__comment form input {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 30px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__details__comment form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::-moz-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input:focus {
	border-color: #000000;
}

.blog__details__comment form textarea {
	height: 120px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	padding-top: 12px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 24px;
	resize: none;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__details__comment form textarea::-webkit-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::-moz-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea:-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea:focus {
	border-color: #000000;
}

.blog__details__comment form button {
	letter-spacing: 4px;
	padding: 14px 35px;
}

.nav-item a {
    font-size: 14px; /* Kích thước chữ nhỏ hơn */
}

.col h4 {
    font-size: 16px; /* Kích thước tiêu đề nhỏ hơn */
}
.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

h4 {
	cursor: pointer;
	user-select: none;
  }
  
  .nav {
	list-style: none;
	padding: 0;
  }
  
  .nav-item {
	margin-bottom: 0.5rem;
  }
  
  .nav-link {
	color: #6c757d;
	text-decoration: none;
  }
  
  .nav-link:hover {
	text-decoration: underline;
  }

@media (max-width: 768px){
	.container-fluid{
		width: 100%;
	} 
	.container{
		width: 100%;
	}
	.nav {
		display: none;
	  }
	  .h4 {
		display: block;
		margin-bottom: 10px;
	  }
}

@media (min-width: 769px) {
	.h4 {
	  display: none;
	}
	.nav {
	  display: block !important;
	}
  }