<div class="dropdown-menu">
  <div class="dropdown-column">
    <p class="dropdown-header">Mua Hàng</p>
    <p>Mua Sản Phẩm Mới Nhất</p>
    <p>Mac</p>
    <p>iPad</p>
    <p>iPhone</p>
    <p>Apple Watch</p>
    <p>Phụ Kiện</p>
  </div>
  <div class="dropdown-column">
    <p class="dropdown-header">Liên Kết Nhanh</p>
    <p>Tình Trạng Đơn Hàng</p>
    <p>Apple Trade In</p>
    <p>Tài Chính</p>
  </div>
  <div class="dropdown-column">
    <p class="dropdown-header">Mua Tại Cửa Hàng Đặc Biệt</p>
    <p>Giáo Dục</p>
    <p>Doanh Nghiệp</p>
  </div>
</div>
