.dropdown-menu {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  width: 100%; /* Full width */
  background-color: white;
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
}

.dropdown-column {
  flex: 1; /* Equally divide space among columns */
  padding: 16px;
}

.dropdown-header {
  font-weight: bold;
  margin-bottom: 8px;
}
