<div class="mt-5 container-fluid">
    <div class="container">
        <h1 class="main-title">
           Tìm hiểu về IPhone
          
        </h1>
    </div>

    <div class="product-wrapper">
        <div class="product-container mt-3" #productContainer>
            <div class="product-black-card iphone1">
                <div class="text-container">
                    <h4>Camera Tiên Tiến</h4>
                    <h2>Chụp ảnh</h2>
                    <h2>Làm phim</h2>
                    <h2>Phá vỡ giới hạn</h2>
                </div>
            </div>
            <div class="product-black-card iphone2">
                <div class="text-container">
                    <h4>Chip Do Apple Thiết Kế</h4>
                    <h2>Một tốc độ bạn có thể nhìn thấy.</h2>
                </div>
            </div>
            <div class="product-black-card iphone3">
                <div class="text-container">
                    <h4>Pin</h4>
                    <h2>Sức mạnh của thời lượng pin tuyệt vời.</h2>
                </div>
            </div>
            <div class="product-black-card iphone4">
                <div class="text-container">
                    <h4>Đổi Mới Sáng Tạo</h4>
                    <h2>Đẹp và bền được mặc định trong thiết kế.</h2>
                </div>
            </div>
            <div class="product-black-card iphone5">
                <div class="text-container">
                    <h4>Cá Nhân Hóa iPhone Của Bạn</h4>
                    <h2>Thêm bản sắc của bạn.</h2>
                    <h2>Vào khắp điện thoại.</h2>

                </div>
            </div>
            <div class="product-black-card iphone6">
                <div class="text-container">
                    <h4>Yên tâm </h4>
                    <h2>Các tính năng an toàn hưu ích. Phòng khi cần kíp.</h2>
                </div>
            </div>
            <div class="product-black-card iphone7">
                <div class="text-container">
                    <h4>Quyền Riêng Tư</h4>
                    <h2>Dữ liệu của bạn. Ngay nơi bạn muốn</h2>
                </div>
            </div>
            <div class="product-card iphone8">
                <div class="text-container">
                    <h4>IPHONE 15</h4>
                    <h2>Mới lịm tim</h2>
                </div>
            </div>
           
            <!-- Thêm nhiều sản phẩm ở đây -->
        </div>
        <button class="scroll-btn left-btn" (click)="scrollLeft()">&#10094;</button>
        <button class="scroll-btn right-btn" (click)="scrollRight()">&#10095;</button>
    </div>
</div>
