.product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #101010;
  color: #fff;
  background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ vùng chứa */
  background-repeat: no-repeat; /* Ngăn không cho hình nền lặp lại */
  padding: 20px;
  position: relative; /* Để overlay định vị chính xác */
}

.product-display:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nền đen mờ với 50% độ mờ */
  z-index: 0; /* Đảm bảo overlay nằm dưới nội dung */
}

.image-section, .description-section {
  flex: 1;
  min-width: 300px;
  position: relative; /* Đảm bảo nội dung nằm trên overlay */
  z-index: 1; /* Đảm bảo nội dung nằm trên overlay */
}

.description-section {
  padding: 20px;
  box-sizing: border-box;
  text-align: left; 
  h2{
    font-size: 48px;
    color: #9f9f9f;
  }
 
  h3{
    font-size: 50px;
  }
}

.breadcrumb {
  font-size: 14px; /* Font chữ nhỏ */
  color: #000; /* Màu đen */
  margin-bottom: 10px; /* Khoảng cách dưới để tách ra khỏi nội dung khác */
  text-align: left; /* Căn lề trái */
}

.breadcrumb a {
  text-decoration: none; /* Không gạch chân */
  color: #000; /* Màu đen */
}

.breadcrumb a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

.button_next {
  
  width: 48px; 
  height: 48px;
}

.button_next img {
  width: 32px; 
  height: 32px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  max-width: 100%;  /* Đảm bảo hình ảnh không bị tràn */
  display: flex; /* Sử dụng Flexbox để căn giữa */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.image-container img {
  width: 80%;  /* Đảm bảo hình ảnh không bị tràn */
  transition: transform 0.3s ease-in-out;
}


.image-container:hover img {
  transform: scale(1.01); /* Hiệu ứng zoom-in */
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation-buttons button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  background: none;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #fff;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.indicators button.active {
  opacity: 1;
}
.view-more{
  display: inline-block;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
}
 .buy-now, .add-to-cart {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
}



.color-options button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff0000, #800000); 
  outline: none;
  margin-right: 7px;
  z-index: 1; 
}

.color-options button.selected {
  border: 2px solid #ffffff70;
}

.color-options button.red {
  background: linear-gradient(to bottom, #858585, #2c2c2c);
}

.color-options button.blue {
  background: #8e8981;
}

.color-options button.green {
  background: #1f2630;
}

.color-options button.yellow {
  background: #c9c8c3;
}
.container-color {
  background-color: #2e2e30; /* Màu nền xám */
  border-radius: 50px; /* Bo cong góc */
  padding: 8px; /* Khoảng cách giữa nội dung và viền */
  display: inline-flex; /* Đảm bảo bề rộng co giãn theo nội dung */
  align-items: center; /* Căn giữa các nút màu theo chiều dọc */
  justify-content: center; /* Căn giữa các nút màu theo chiều ngang */
  margin-top: 48px; /* Khoảng cách phía trên */
}




.action-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 1; 
}
.storage-options {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.storage-options span {
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.storage-options span::after {
  content: "";
  position: absolute;
  right: -10px;
}

.storage-options span:last-child::after {
  content: "";
}

.storage-options .selected {
  font-weight: bold;
  text-decoration: underline;
}

.storage-options span {
  transition: transform 0.3s ease-in-out;
}

.storage-options span:hover {
  transform: scale(1.1);
}

.scroll-btn {
  display: none;
  position: absolute;
  top: 50%;
  background-color: rgba(207, 207, 207);
  color: #fff;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%);

}
.scroll-btn{
  display: flex;
}
.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

.scroll-btn:hover {
  background-color: rgba(171, 171, 171);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product-display {
    flex-direction: column;
    align-items: center;
  }
  .image-section, .description-section {
    min-width: unset;
  }

  .image-section {
    margin-bottom: 20px;
  }
  .button_next{
    display: none;
  }
}

@media (max-width: 480px) {
  .view-more, .buy-now, .add-to-cart {
    padding: 8px 16px;
    font-size: 14px;
  }

  .color-options button {
    width: 30px;
    height: 30px;
  }
  .button_next{
    display: none;
  }
}
