<div class="product-icons">
    <div class="icon-item">
        <img src="assets/iconProduct/iphone153.png" alt="Phone SE">
        <p>iPhone 15 Pro</p>
      </div>
      <div class="icon-item">
        <img src="assets/iconProduct/iphone15.png" alt="Phone SE">
        <p>iPhone 15</p>
      </div>
      <div class="icon-item">
        <img src="assets/iconProduct/iphone143.png" alt="Phone SE">
        <p>iPhone 14</p>
      </div>
      <div class="icon-item">
        <img src="assets/iconProduct/iphone12.png" alt="Phone SE">
        <p>Phone 13</p>
      </div>
    <div class="icon-item">
      <img src="assets/iconProduct/iphoneSE.png" alt="Phone SE">
      <p>Phone SE</p>
    </div>
    <div class="icon-item">
      <img src="assets/iconProduct/iphone15pr2.png" alt="So Sánh">
      <p>So Sánh</p>
    </div>
    <div class="icon-item">
      <img src="assets/iconProduct/category-icon-audio-music.png" alt="AirPods">
      <p>AirPods</p>
    </div>
    <div class="icon-item">
      <img src="assets/iconProduct/airTag.png" alt="AirTag">
      <p>AirTag</p>
    </div>
    <div class="icon-item">
      <img src="assets/iconProduct/category-icon-cases-protection-iphone.png" alt="Phụ Kiện">
      <p>Phụ Kiện</p>
    </div>
    <div class="icon-item">
      <img src="assets/iconProduct/ios.png" alt="iOS 18">
      <p>iOS 18</p>
      <a href="#">Xem Trước</a>
    </div>
  </div>
