<div class="mt-5 container">
    <div class="container">
        <h1 class="main-title">
            Hỗ trợ tại đây.
            <span class="sub-title-text">Ngay khi bạn muộn mọi việc bạn cần.</span>
        </h1>
    </div>

    <div class="product-wrapper">
        <div class="product-container mt-3" #productContainer>
            <div class="product-card iphone">
                <div class="text-container">
                    <h4>Chuyên gia Apple</h4>
                    <h2>Mua hàng và tư vấn trực tuyến.</h2>
                </div>
            </div>
          
            <div class="product-card ipad">
                <div class="text-container">
                    <h4>.</h4>
                    <h2>Dịch vụ và hỗ trợ. Luôn sẵn sàng hỗ trợ. </h2>
                </div>
            </div>
        </div>
      
    </div>
</div>
