<div class="mt-5 container-fluid">
    <div class="container">
        <h1 class="main-title">
            Phụ kiện.
            <span class="sub-title-text">Những phụ kiện kết hợp viết thiết bị yêu thích của bạn.</span>
        </h1>
    </div>

    <div class="product-wrapper">
        <div class="product-container mt-3" #productContainer>
            <div class="product-card iphone">
                <div class="text-container">
                    <h4>IPHONE 15 PRO</h4>
                    <h2>Đón máy mới về.</h2>
                    <p>Từ 28.999.000đ hoặc 1.181.000đ/tháng trong 24 tháng*</p>
                </div>
            </div>
            <div class="product-item">
                <img src="assets/imgProduct/op.png" alt="Ốp Lưng Vải Tinh Dệt MagSafe cho iPhone 15 Pro - Xanh Lục" class="product-image">
                <div class="color-options">
                  <span class="color-option" style="background-color: #A52A2A;"></span>
                  <span class="color-option" style="background-color: #000080;"></span>
                  <span class="color-option" style="background-color: #2E8B57;"></span>
                  <span class="color-option" style="background-color: #708090;"></span>
                </div>
                <div class="product-info">
                  <p class="product-new">Mời</p>
                  <p class="product-name">Ốp Lưng Vải Tinh Dệt MagSafe cho iPhone 15 Pro - Xanh Lục...</p>
                  <p class="product-price">1.699.000đ</p>
                </div>
              </div>

              <div class="product-item">
                <img src="assets/imgProduct/ApplePencil.png" alt="Ốp Lưng Vải Tinh Dệt MagSafe cho iPhone 15 Pro - Xanh Lục" class="product-image">
                <div class="color-options">
                
                </div>
                <div class="product-info">
                  <p class="product-new">Mời</p>
                  <p class="product-name">Apple Pencil Pro</p>
                  <p class="product-price">3.699.000đ</p>
                </div>
              </div>
              <div class="product-item">
                <img src="assets/imgProduct/AriTag.png" alt="Móc Khóa Vải Tinh Dệt AirTag - San Hô" class="product-image">
                <div class="color-options">
                  <span class="color-option" style="background-color: #A52A2A;"></span>
                  <span class="color-option" style="background-color: #000080;"></span>
                  <span class="color-option" style="background-color: #708090;"></span>
                </div>
                <div class="product-info">
                  <p class="product-new">Mời</p>
                  <p class="product-name">Móc Khóa Vải Tinh Dệt AirTag - San Hô</p>
                  <p class="product-price">1.699.000đ</p>
                </div>
              </div>
              <div class="product-item">
                <img src="assets/imgProduct/dayWatch.png" alt="Dây đeo thể thao màu năng 45mm M-L" class="product-image">
                <div class="color-options">
                  <span class="color-option" style="background-color: #A52A2A;"></span>
                  <span class="color-option" style="background-color: #000080;"></span>
                  <span class="color-option" style="background-color: #2E8B57;"></span>
                  <span class="color-option" style="background-color: #708090;"></span>
                  <span class="color-option" style="background-color: #c3e210;"></span>
                  <span class="color-option" style="background-color: #fa66b7;"></span>


                </div>
                <div class="product-info">
                  <p class="product-new">Mời</p>
                  <p class="product-name">Ốp Lưng Vải Tinh Dệt MagSafe cho iPhone 15 Pro - Xanh Lục...</p>
                  <p class="product-price">1.699.000đ</p>
                </div>
              </div>
              <div class="product-item">
                <img src="assets/imgProduct/MagicKeyboard.png" alt="Dây đeo thể thao màu năng 45mm M-L" class="product-image">
                <div class="color-options">
                  <span class="color-option" style="background-color: #A52A2A;"></span>
                  <span class="color-option" style="background-color: #000080;"></span>
                  <span class="color-option" style="background-color: #2E8B57;"></span>
                  <span class="color-option" style="background-color: #708090;"></span>
                </div>
                <div class="product-info">
                  <p class="product-new">Mời</p>
                  <p class="product-name">Magic Keyboard cho iPad Pro 13 inch (M4) - Tiếng Anh Mỹ</p>
                  <p class="product-price">9.799.000đ</p>
                </div>
              </div>
              
            <!-- Thêm nhiều sản phẩm ở đây -->
        </div>
        <button class="scroll-btn left-btn" (click)="scrollLeft()">&#10094;</button>
        <button class="scroll-btn right-btn" (click)="scrollRight()">&#10095;</button>
    </div>
</div>
