<div class="container">
  <div class="product-list">
    <div class="product-card">
      <div class="image-container">
        <img src="assets/img/iphone13mini_green.png" alt="iPhone 13mini" />
      </div>
      <div class="color-options mt-5">
        <span class="color-option" style="background-color: #909090"></span>
        <span class="color-option" style="background-color: #151515"></span>
        <span class="color-option" style="background-color: #f5f5f5"></span>
        <span class="color-option" style="background-color: #003469"></span>
      </div>
      <div class="product-info">
        <h2>iPhone 13mini</h2>
        <p>Một iPhone cực đỉnh.</p>
        <p>Từ 5.000.000₫ hoặc 589.000₫/th. trong 12 tháng</p>
        <div class="button-group">
          <a class="btn btn-primary" href="#">Tìm hiểu thêm</a>
          <a class="text-primary" href="#">Mua ></a>
        </div>
        <hr class="my-4" />
        <!-- You can add your own custom classes -->

        <div class="product-details">
          <div class="feature">
            <img src="assets/icons/icon_a17_pro.png" alt="A17 Pro Icon" />
            <p>Chip A15 với GPU 4 lõi</p>
          </div>
          <div class="feature">
            <img
              src="assets/icons/icon_iphone_15_camera.png"
              alt="Camera Icon"
            />
            <p>Hệ thống camera chuyên nghiệp</p>
            <p>Camera Chính 48MP tiên tiến nhất của chúng tôi</p>
            <p>Camera Telephoto 3x hoặc 5x</p>
            <p>Camera Ultra Wide</p>
          </div>
          <div class="feature">
            <img
              src="assets/icons/icon_battery_100.png"
              alt="Video Time Icon"
            />
            <p>Thời gian xem video lên đến 29 giờ</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="image-container">
        <img src="assets/img/iphone12mini_blue.png" alt="iPhone 13mini" />
      </div>
      <div class="color-options mt-5">
        <span class="color-option" style="background-color: #909090"></span>
        <span class="color-option" style="background-color: #151515"></span>
        <span class="color-option" style="background-color: #f5f5f5"></span>
        <span class="color-option" style="background-color: #003469"></span>
      </div>
      <div class="product-info">
        <h2>iPhone 12mini</h2>
        <p>Một iPhone cực đỉnh.</p>
        <p>Từ 3.000.000₫ hoặc 369.000₫/th. trong 12 tháng</p>
        <div class="button-group">
          <a class="btn btn-primary" href="#">Tìm hiểu thêm</a>
          <a class="text-primary" href="#">Mua ></a>
        </div>
        <hr class="my-4" />
        <!-- You can add your own custom classes -->

        <div class="product-details">
          <div class="feature">
            <img src="assets/icons/icon_a17_pro.png" alt="A17 Pro Icon" />
            <p>Chip A17 Pro với GPU 6 lõi</p>
          </div>
          <div class="feature">
            <img
              src="assets/icons/icon_iphone_15_camera.png"
              alt="Camera Icon"
            />
            <p>Hệ thống camera chuyên nghiệp</p>
            <p>Camera Chính 48MP tiên tiến nhất của chúng tôi</p>
            <p>Camera Telephoto 3x hoặc 5x</p>
            <p>Camera Ultra Wide</p>
          </div>
          <div class="feature">
            <img
              src="assets/icons/icon_battery_100.png"
              alt="Video Time Icon"
            />
            <p>Thời gian xem video lên đến 29 giờ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-image">
    <div class="text-content">
      <p class="headline">Tìm hiểu về</p>
      <p class="subheadline">iPhone 12 Mini & iPhone 13 Mini</p>
      <a class="btn btn-light" href="#">Xem phim</a>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img
        src="assets/icons/icon_trade_in_2024_iphone.png"
        alt="Icon 1"
        class="icon"
      />
      <h2>Tiết kiệm với Apple Trade In.</h2>
      <p>
        Nhận 800.000đ — 22.000.000đ dưới hình thức điểm tín dụng khi bạn trao
        đổi iPhone 7 Plus trở lên.
      </p>
      <button class="add-button">+</button>
    </div>
    <div class="card">
      <img src="assets/icons/icon_apple_card.png" alt="Icon 1" class="icon" />
      <h2>Thanh toán hàng tháng thật dễ dàng.</h2>
      <p>Bao gồm lựa chọn lãi suất 0%.</p>
      <button class="add-button">+</button>
    </div>
    <div class="card">
      <img src="assets/icons/icon_delivery.png" alt="Icon 3" class="icon2" />
      <h2>Giao hàng miễn phí.</h2>
      <p>Giao hàng miễn phí thẳng đến tận nhà.</p>
      <button class="add-button">+</button>
    </div>
    <div class="card">
      <img src="assets/icons/icon_person.png" alt="Icon 3" class="icon2" />
      <h2>Giao hàng miễn phí.</h2>
      <p>Giao hàng miễn phí thẳng đến tận nhà.</p>
      <button class="add-button">+</button>
    </div>
    <div class="card">
      <img src="assets/icons/icon_asa.png" alt="Icon 3" class="icon" />
      <h2>Giao hàng miễn phí.</h2>
      <p>Giao hàng miễn phí thẳng đến tận nhà.</p>
      <button class="add-button">+</button>
    </div>
  </div>
</div>
