<div class="hero-section">
    <div class="content">
        <div class="media-container">
            <!-- Video ở trên -->
            <video id="myVideo" class="responsive-video" autoplay muted loop>
                <source src="assets/video/large.mp4" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ thẻ video.
            </video>
            
            <!-- Hình ảnh ở dưới, căn đều trên một hàng -->
            <div class="image-container">
                <div class="image-wrapper">
                    <img src="assets/imgProduct/lightest.jpg" alt="Lightest" class="metal-image" />
                    <div class="overlay"></div>
                    <p>iPhone 15 Pro là chiếc iPhone đầu tiên sở hữu thiết kế từ titan chuẩn hàng không vũ trụ, cùng loại hợp kim sử dụng trong thiết kế tàu vũ trụ cho các chuyến du hành đến Sao Hỏa.</p>
                </div>
                <div class="image-wrapper">
                    <img src="assets/imgProduct/durable.jpg" alt="Durable" class="metal-image2" />
                    <div class="overlay"></div>
                    <p>Titan là một trong những kim loại có tỷ số độ bền và trọng lượng cao nhất, tạo nên những phiên bản Pro nhẹ nhất từng có của chúng tôi. Bạn sẽ nhận biết được ngay sự khác biệt khi cầm điện thoại trên tay.</p>
                </div>
            </div>
        </div>
    </div>
</div>
