<div class="mt-5 container">
    <div class="container">
        <h1 class="main-title">
            Các của hàng đặc biệt.
            <span class="sub-title-text"> Tiết kiệm độc quyền cho sinh viên, nhà giáo dục và doanh nghiệp.</span>
        </h1>
    </div>

    <div class="product-wrapper">
        <div class="product-container mt-3" #productContainer>
            <div class="product-card iphone">
                <div class="text-container">
                    <h4>Giáo dục </h4>
                    <h2>Tiết kiệm khi mua iPad hoặc Mac mới với chính sách trợ giá cho giáo dục.</h2>
                </div>
            </div>
          
            <div class="product-black-card ipad">
                <div class="text-container">
                    <h4>Doanh Nghiệp</h4>
                    <h2>Dịch vụ và hỗ trợ. Luôn sẵn sàng hỗ trợ. </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <h1 class="main-title">
            Liên Kết Nhanh
        </h1>
        <div class="mt-2 button-container">
            <button type="submit" class="site-btn">Trạng thái đơn hàng</button>
            <button type="submit" class="site-btn">Trợ giúp mua hàng</button>
            <button type="submit" class="site-btn">Trả hàng</button>
            <button type="submit" class="site-btn">Mục đã lưu</button>
            <button type="submit" class="site-btn">Vận chuyển & Giao hàng</button>
            <button type="submit" class="site-btn">Thanh toán</button>
        </div>
        

    </div>
</div>
