<div class="container-fluid my-5">
    <h2 class="text-center font-weight-bold">Phụ kiện thiết yếu cho iPhone.</h2>
    <div class="text-right">
      <a href="#" class="text-primary">Tất Cả Phụ Kiện iPhone ></a>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-md-5 m-3">
        <div class="card p-4 border-0 shadow-sm d-flex flex-column align-items-center">
          <h3 class="card-title text-center">MagSafe</h3>
          <p class="card-text text-center">Gắn thêm một ốp lưng, một ví da từ tính hay cả hai. Để sạc không dây nhanh và hiệu quả.</p>
          <a href="#" class="text-primary mb-3">Mua sắm phụ kiện MagSafe ></a>
          <img src="assets/imgProduct/magsafe.jpg" class="img-fluid mt-3 card-img" alt="MagSafe">
        </div>
      </div>
      <div class="col-md-5 m-3">
        <div class="card p-4 border-0 shadow-sm d-flex flex-column align-items-center">
          <h3 class="card-title text-center">AirTag</h3>
          <p class="card-text text-center">Gắn một cái vào chìa khóa của bạn. Đặt một cái khác vào ba lô. Nhờ có thất lạc, chỉ cần dùng ứng dụng Tìm.</p>
          <a href="#" class="text-primary mb-3">Mua ></a>
          <img src="assets/imgProduct/airtag.jpg" class="img-fluid mt-3 card-img" alt="AirTag">
        </div>
      </div>
    </div>
  </div>
  