<div class="carousel">
  <div class="carousel-image" [ngStyle]="{'background-image': images[currentIndex].background}">
    <div class="carousel-overlay">
      <div class="carousel-info">
        <h1>{{ images[currentIndex].title }}</h1>
        <h2>{{ images[currentIndex].subtitle }}</h2>
        <p>{{ images[currentIndex].content }}</p>
      </div>
    </div>
    <button (click)="nextImage()" class="carousel-button">
      <img src="assets/img/arrow.png" alt="Next">
    </button>
  </div>
  <!-- <div class="carousel-indicators">
    <button *ngFor="let image of images; let i = index" [class.active]="i === currentIndex" (click)="currentIndex = i"></button>
  </div> -->
</div>
